@charset "utf-8";
/* cssリセット */
body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3",
        "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* PC表示 */
body {
    margin: 0 auto;
    max-width: 1035px;
    margin-top: 70px;
}

/* top_title */
.site_table {
    padding-bottom: 80px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
}
.site_wrap {
    line-height: 1.8;
}
.site_description {
    font-size: 18px;
}

/* gnav */
.site_blanding {
    display: flex;
    justify-content: space-between;
}
.site_blanding ul {
    display: flex;
    justify-content: space-between;
}

.site_navigation {
    padding: 40px 10px 0 0;
}
.site_navigation li {
    padding-right: 25px;
    font-size: 18px;
}
.search_img > img {
    width: 3%;

    /* ボックス配置指定 */
    position: absolute;
    top: 90px;
    right: 20%;
}

/* main写真 */
.main_picture img {
    padding-bottom: 80px;
}

/* toptext */
.top_text h2 {
    line-height: 1.8;
    letter-spacing: 1.7px;
    font-size: 27px;
    font-family: Georgia, "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo,
        serif;
    font-weight: lighter;
}
